/*css specifique a certains endroit */

@font-face {
    font-family: 'BEYNO';
    src: url(Police/BEYNO.otf);
}

@font-face {
    font-family: 'Cantarell-Bold';
    src: url(Police/Cantarell-Bold.ttf);
}

@font-face {
    font-family:'PantheraRegular' ;
    src: url(Police/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family:'WakandaForever' ;
    src: url(Police/WakandaForever-Regular.ttf);
}

h1,h2,h3{
    color: #9E91B7;
}

h1{
    font-family: 'PantheraRegular' ;
    font-size: 48px;
}

h2{
    font-family: 'BEYNO';
    font-size: 22px;
}

q {
    font-family: 'WakandaForever';
    font-size: xx-large;
    word-spacing: 8px;
}

h3{
    font-family: 'BEYNO'; 
}

p{
    font-family: 'Cantarell-Bold';
    font-size: 10px;
}



body{
    background-image: url(Illustration\ +\ Logo/arrière_plan.png);
    color: white;
}

footer{
    background-image: url(Illustration\ +\ Logo/back_footer.png);
}

.formulaire{
    background-image: url(Illustration\ +\ Logo/1_Landing_page/Pantherhome4.png);
}





.hero2 {
    
    position: relative;
    
   
}

img[alt="Pantherwakanda2"]{
    height: 100%;
    width: 100%;
}

img[alt="Pantherwakanda1"]{
    height: 100%;
    width: 100%;
}

.hero2 h1{
    font-family: 'BEYNO';
}

.hero2 h2{
    font-family: 'WakandaForever' ;
    letter-spacing: 4px;
    word-spacing: 8px;
}

.w-in1 {
   
    width: 500px;
    height: 350px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.w-out2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    position: absolute;
    top: 0px;
    left: 60px;
}

.w-out1{
    position: relative;
    height: 1500px;
}

.w-in2{
   
    width: 600px;
    height: 1400px;
}

section{
    
    width: 550px;
    height: 1400px;
    line-height: 15px;
}



.tigre{
    
    height: 600px;
    
}

/*css layout du footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.out{
    flex: 1;
}

.exterieur{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
}

footer p {
    font-size: 10px;
}

 .ft1 {
    font-size: 14px;
}

footer h2{
    font-size: 20px;
}

.out1{
    margin: 80px;
}

img[alt="footer1"]{
    height: 290px;
    margin-left: 200px;

}
img[alt="footer2"]{
   position: relative;
   bottom: 170px;
   left: 250px;

}  

.out a:nth-of-type(1){
    text-decoration: none;
}

.out a:nth-of-type(1):hover{
    text-decoration: underline;
    color: white;
}

.out a:nth-of-type(2){
    text-decoration: none;
}

.out a:nth-of-type(2):hover{
    text-decoration: underline;
    color: white;
}


/*css du barre de nav*/

nav ul {
   
    margin-right: 50px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

nav li {
    flex: 1;
    list-style-type: none;
}

nav{
    font-family: 'BEYNO'; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding-top: 20px;
    padding-left: 20px;
    margin-left:100px ;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color: #3D2DA6; 
}

nav a:focus {
    text-decoration: underline;
    color: #3D2DA6;
}

img[class="logo"]:hover  {
    filter: opacity(0.4) drop-shadow(0 0 0 #3D2DA6);
}

/*trait violet */
.test1{
    position: absolute ;
    border: 3px solid #9E91B7;
    border-top:none ;
    border-bottom: none;
    height:250px ;
    width:27px;
    top: 0;
    left: 30px;
}
.test2{
    position: absolute;
    border: 3px solid #9E91B7;
    border-top:none ;
    border-bottom: none;
    border-right: none;
    height:100px ;
    width:40px;
    top:250px ;
    left: 30px;
    background: url(Illustration\ +\ Logo/icon_facebook.png) no-repeat top right,
    url(Illustration\ +\ Logo/icon_instagram.png) no-repeat  right 25px,
    url(Illustration\ +\ Logo/icon_twitter.png) no-repeat right 50px,
    url(Illustration\ +\ Logo/icon_tiktok.png) no-repeat right 75px ;
      
}

.test3{
    margin-top: -50px;
    margin-left: -30px;
}

/* Set initial styling for the element */
.my-element, .my, .my1, .my2, .my3, .my4, .my5,.my6, .my7, .my8 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  /* Add a class to the element to trigger the animation */
  .my-element.show {
    opacity: 1;
    transform: translateY(0);
  }

  .my.show {
    opacity: 1;
    transform: translateY(0);
  }

  .my1.show {
    opacity: 1;
    transform: translateY(0);
  }

  .my2.show {
    opacity: 1;
    transform: translateY(0);
  }

  .my3.show {
    opacity: 1;
    transform: translateY(0);
  }

  .my4.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .my5.show {
    opacity: 1;
    transform: translateY(0);
  }

  .my6.show {
    opacity: 1;
    transform: translateY(0);
  }
  .my7.show {
    opacity: 1;
    transform: translateY(0);
  }
  .my8.show {
    opacity: 1;
    transform: translateY(0);
  }

